html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'NXB', serif;
  font-weight: normal;
  line-height: 1.25;
}

a,
button,
button:after,
figure > label {
  transition: all 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/preloader.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*
 * IMAGE PRELOADING
 * Loading images to prevent slow change of options
 *
 * 1. ls src/assets/images/items/roots >> ~/Downloads/list.txt
 * 2. Replace pattern: ([^\s]+(\.(?i)(jpg|png|gif|bmp))$)
 * 3. Replace by: url('../assets/images/items/roots/$1') no-repeat -9999px -9999px,
 */
body {
  background: url('../assets/images/items/flex/filling-glass-black.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/filling-glass-partial.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/filling-glass.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/frame-anthracite.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/frame-black.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/handle-black-long.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/handle-black.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/handle-standard-long.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/handle-standard.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-001.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-002.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-003.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-004.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-005.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-006.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-007.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-008.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-009.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-010.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-011.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-012.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-013.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-014.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-015.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-016.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-017.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-018.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-019.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-020.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-021.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-022.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-023.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-024.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-025.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-026.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-027.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-028.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-029.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-030.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-031.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-032.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-033.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-034.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-035.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-036.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-037.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-038.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-039.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-040.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-041.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-042.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-043.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-044.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-045.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-046.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-047.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-048.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-049.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-050.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-051.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-052.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-053.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-054.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-055.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-056.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-057.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-058.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-059.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-060.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-001-061.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-002-001.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-003-001.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-004-001.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-005-001.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/layout-color-006-001.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/lock-black.png') no-repeat -9999px -9999px,
  url('../assets/images/items/flex/lock-standard.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/frame-meranti.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/frame-oak.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/frame-walnut.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/handle-black.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/handle-silver.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/lock-black.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/lock-silver.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-milled-meranti.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-milled-oak.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-milled-walnut.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-printed-steel.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-quartz-sinter-001.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-quartz-sinter-002.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-ral-3004.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-ral-5001.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-ral-5005.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-ral-6021.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-ral-6033.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-ral-7016.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-ral-7045.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-steel.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-structural-varnish-brass.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-left-structural-varnish-rust.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-right-glass-black.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-right-glass-milk.png') no-repeat -9999px -9999px,
  url('../assets/images/items/roots/panel-right-steel.png') no-repeat -9999px -9999px;
}

