:root {
  --color-primary:    #A5CD39;
  --color-secondary:  #333333;
  --color-body:       #666666;

  --color-black:      #4D4D4D;
  --color-white:      #FFFFFF;
  --color-light:      rgba(255, 255, 255, 0.1);
  --color-grey:       #D6D6D6;
}
