<header class="logo">
  <a href="https://nexbau.com">
    <img src="/assets/img/logo.svg" alt="Logo Nexbau">
  </a>
</header>

<ul class="type">
    <li *ngFor="let door of items">
        <a [routerLink]="['/doors', door.id]" [routerLinkActive]="'active'">{{door.label}}</a>
    </li>
</ul>

<app-accordion>
  <app-accordion-group *ngFor="let field of items[selectedItem]['fields']" [title]="field.label">
    <ul class="field" [ngClass]="field.type">
      <li *ngFor="let option of field.options" [ngClass]="{'active': isActiveOption(field.name, option.value)}">
        <figure (click)="onOptionClick(field.name, option.value)">
          <label>{{option.label}}</label>
        </figure>
      </li>
    </ul>
  </app-accordion-group>
</app-accordion>
