<header class="logo">
  <a href="https://nexbau.com">
    <img src="/assets/img/logo.svg" alt="Logo Nexbau">
  </a>
</header>

<ul class="type">
    <li *ngFor="let door of items">
        <a [routerLink]="['/doors', door.id]" [routerLinkActive]="'active'">{{door.label}}</a>
    </li>
</ul>

<app-accordion>
  <app-accordion-group *ngFor="let field of items[selected]['fields']" [title]="field.label">
    <ul>
      <li *ngFor="let option of field.options">
        <span (click)="onOptionClick(field.name, option.value)">
          {{option.label}}
        </span>
      </li>
    </ul>
  </app-accordion-group>
</app-accordion>
