:host {
  display: flex;
  height: 100%;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 77%;
  overflow: hidden;

  figure {
    position: absolute;
    margin: 0;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      padding: 0;
      margin: 0 auto;
      vertical-align: middle;
    }
  }
}

aside {
  width: 33%;
  box-shadow: -9px 2px 26px 0px rgb(201, 201, 201);
}
